/* 共通部分 */
body {
  color: #666;
  font-size: 14px;
}
main {
  padding: 0px 10px 150px 10px;
}
section {
  padding-top: 10px;
  padding-bottom: 20px;
}
button {
  padding: 7px;
  background-color: #d9d9d9;
  border-radius: 5px;
}
h1 {
  font-size: 20px;
  letter-spacing: .03em;
}
h2 {
  font-size: 24px;
  letter-spacing: .03em;
}
h3 {
  margin-top: 10px;
  margin-bottom: 15px;
  font-size: 18px;
  letter-spacing: .03em;
}
.tag {
  padding: 7px;
  background-color: #d9d9d9;
  border-radius: 5px;
}
.idNum {
  font-size: 11px;
  color: #d9d9d9;
  text-align: left;
}

/* コーデサムネイル */
.coodeThumbArea {
  display: grid;
  grid-template-columns: 45% 45%;
  gap: 10px;
}
.coodeThumbWrapper {
  width: 160px;
  height: 240px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */
  border: #888 1px solid;
  border-radius: 10px;
}
.coodeThumbImgWrapper {
  display: grid;
  grid-template-columns: 70px 70px;

  gap: 2px;
}
.coodeThumbImg {
  border-radius: 5px;
}



/* トップ */
.tagArea {
  display: flex;
  gap: 10px;
}




/* ヘッダー */
header {
  width: 100%;
  height: 45px;
  padding: 10px 0;
  position: relative;
  display: flex;
  justify-content: center;
  background-color: #d9d9d9;
  color: #fff;
}
.settingIcon {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 20px;
}

/* ナビ */
nav {
  width: 100%;
  height: 60px;
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: #d9d9d9;
}
nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
nav ul li {
  height: 60px;
  width: 60px;
  padding: 10px 0;
  text-align: center;
}
nav ul li.homeBtn {
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
nav ul li p {
  font-size: 9px;
}
.navIconWrappwer {
  position: relative;
}
.navIcon {
  font-size: 30px;
  color: #fff;
}
.navPlusIcon {
  position: absolute;
  right: 3px;
  bottom: 3px;
  color: #888;
}
.navHomeIcon {
  font-size: 30px;
  color: #888;
}

/* 天気 */
.weather {
  width: 100%;
  height: 65px;
  background-color: #fff;
  color: #888;
}
.weatherLoading {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  border-bottom: #d9d9d9 1px solid;
}
.dateSec {
  height: 20px;
  padding: 4px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 12px;
}
.weatherSec {
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: #d9d9d9 1px solid;
  border-bottom: #d9d9d9 1px solid;
}
.weatherEach {
  width: 32%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.weatherEach:nth-child(even)  {
  border-left: #d9d9d9 1px solid;
  border-right: #d9d9d9 1px solid;
}
.timeTemp {
  text-align: right;;
}
.time {
  font-size: 10px;
}
.temp {
  font-size: 12px;
  line-height: 1.5em;
}







.modal {
  position: fixed;
  inset: 0;
  /* 要素を四隅にピッタリ貼り付ける */

  background: rgba(0,0,0,0.4);
  /* backdrop-filter: blur(10px); */
  display: flex;
  justify-content: center;
  align-items: center;
}
.modalContent {
  background: white;
  height: 80vh;
  width: 90vw;
  margin: 5vh;
  padding: 20px;
  border-radius: 10px;
}
.modalClothes {
  background: white;
  border: 1px solid black;
  height: 60vh;
  width: 80vw;
  padding: 10px;
  max-height: 80vh;   /* 画面の80%まで */
  overflow-y: auto;   /* 縦スクロール */
}




/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} */
