/* lightAzure #c9e8eb */
/* lightCyan #b8e3e5 */
/* kusumiCyan #99d7db */


/* 共通部分 */
body {
  color: #666;
  font-size: 14px;
  line-height: 1.2em;
}
main {
  padding: 10px 10px 180px 10px;
}
section {
  padding-top: 10px;
  padding-bottom: 20px;
}
button {
  /* margin-top: 10px; */
  padding: 10px 12px;
  /* background-color: #d9d9d9; */
  background-color: #eee;
  border: #666 solid 1px;
  /* background-color: #bbb;
  color: #fff; */
  border-radius: 5px;
}
button:hover {
  background-color: #d9d9d9;
  /* background-color: #999; */
}
.btnArea {
  margin-top: 40px;
}


h1 {
  font-size: 20px;
  letter-spacing: .03em;
}
h2 {
  font-size: 24px;
  letter-spacing: .03em;
  margin-top: 30px;
  margin-bottom: 30px;
}
/* h2.detailPage {
  margin-bottom: 5px;
}
.detailId {
  padding-bottom: 30px;
} */
h3 {
  margin-top: 10px;
  margin-bottom: 15px;
  font-size: 18px;
  letter-spacing: .03em;
}
p {
  padding: 2px 0;
}
/* 入力系 */
input[type="text"] {
  /* height: 30px; */
  width: 500px;
  max-width: 60vw;
  border: #666 1px solid;
  border-radius: 5px;
  padding: 5px;
}
input[type="text"]:focus {
  outline: none;
  /* border: #99d7db 3px solid; */
  border: #015cc8 1px solid;
}
input[type="password"] {
  /* height: 30px; */
  width: 500px;
  max-width: 60vw;
  border: #666 1px solid;
  border-radius: 5px;
  padding: 5px;
}
input[type="password"]:focus {
  outline: none;
  /* border: #99d7db 3px solid; */
  border: #015cc8 1px solid;
}
input[type="file"] {
  margin-top: 5px;
}
input[type="file"]::file-selector-button {
  color: #666;
  cursor: pointer;
  padding: 10px 12px;
  background-color: #eee;
  border: #666 solid 1px;
  border-radius: 5px;
}
input[type="file"]::file-selector-button:hover {
  background-color: #d9d9d9;
}
input[type="checkbox"],
input[type="radio"] {
  appearance: auto;
  cursor: pointer;
  width: 20px;
  height: 20px;
}
.checkboxRadioText {
  padding-left: 4px;
  padding-right: 15px;
}
textarea {
  width: 100%;
  min-height: 100px;
  border: #666 1px solid;
  border-radius: 5px;
  padding: 5px;
}
textarea:focus {
  outline: none;
  /* border: #99d7db 3px solid; */
  border: #015cc8 1px solid;
}
select {
  width: 200px;
  padding: 5px;
  border: #666 1px solid;
  border-radius: 5px;
  cursor: pointer;
  appearance: auto;
  -webkit-appearance: auto;
  -moz-appearance: auto;
}
/* 注意書き */
.note {
  margin: 5px 0;
  padding: 20px;
  background-color: #ffd6d1;
  border: #ff6450 1px solid;
  /* border-radius: 5px; */
}

/* タグ */
.tagArea {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.tag {
  padding: 10px 15px;
  /* background-color: #d9d9d9; */
  background-color: #c9e8eb;
  border-radius: 20px;
}
.clickableTag:hover {
  padding: 10px 15px;
  /* background-color: #d9d9d9; */
  background-color: #99d7db;
  border-radius: 20px;
}

/* メモ */
.memoArea {
  width: 100%;
  height: 50px;
  padding: 5px;
  border: #888 solid 1px;
  border-radius: 5px;
}

/* ID */
.idNum {
  font-size: 11px;
  color: #d9d9d9;
  text-align: left;
}

/* コーデサムネイル */
.coodeThumbArea {
  display: grid;
  grid-template-columns: repeat(2, minmax(155px, 1fr));
  gap: 10px;
}
.coodeThumbWrapper {
  width: 100%;
  height: 100%;
  padding: 5px;
  display: flex;
  flex-direction: column;
  border: #888 1px solid;
  border-radius: 10px;
}
.coodeThumbImgWrapper {
  display: grid;
  grid-template-columns: repeat(2, minmax(70px, 1fr));

  gap: 2px;
}
.coodeThumbImg {
  width: 100%;
  height: auto;
  /* border-radius: 5px; */
  border-radius: calc(infinity * 1px);
}
/* .coodeThumbArea {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(155px, 1fr));
  gap: 10px;
}
.coodeThumbWrapper {
  width: 155px;
  height: 240px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  border: #888 1px solid;
  border-radius: 10px;
}
.coodeThumbImgWrapper {
  display: grid;
  grid-template-columns: 70px 70px;

  gap: 2px;
}
.coodeThumbImg {
  border-radius: 5px;
} */


/* 登録完了画面 */
.resultButtons {
  display: flex;
  flex-direction: column;
  gap: 10px;
}



/* アイテム一覧 */
.itemsList {
  border-top: #d9d9d9 1px solid;
}
.categoryItems {
  display: grid;
  /* grid-template-columns: repeat(3, 100px); */
  grid-template-columns: repeat(auto-fit, 100px);
  gap: 10px;
}


/* アイテム詳細画面 */
.clothesDetailImgWrapper {
  text-align: center;
}
.image {
  width: 100%;
  max-width: 500px;
  height: auto;
}
.editDeleteButtons {
  margin-top: 40px;
  display: flex;
  gap: 10px;
  justify-content: flex-end;
  align-items: center;
}
/* .editDeleteButtons {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 30px;
} */
.deleteButton {
  background-color: #fff;
  font-size: 20px;
  border: none;
}


/* コーデ詳細画面 */
/* コーデ登録画面 */
.selectItemBtn {
  margin-bottom: 10px;
}
.selectedClothes {
  max-width: 500px;
  /* margin: 10px 0; */
  display: grid;
  grid-template-columns: repeat(2, minmax(155px, 1fr));
  gap: 10px;
}
.selectedClothesImg {
  width: 100%;
  height: auto;
}




/* コーデ削除画面 */
.yesNo {
  display: flex;
  gap: 10px;
}





/* 設定画面 */
.loginSec {
  margin-top: 10px;
}
.settings button {
  margin-top: 10px;
}

/* タグ設定画面 */
.tagCreateWrapper {
  margin-top: 20px;
  display: flex;
  align-items: stretch;
  gap: 10px;
}
.tagEditDeleteWrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.tagSetWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.tagEditWrapper {
  display: flex;
  align-items: stretch;
  gap: 10px;
}
.tagBtns {
  display: flex;
  gap: 10px;
}


/* タグでコーデを検索 */
.tagResult {
  margin-top: 30px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
}

/* ヘッダー */
header {
  width: 100%;
  height: 45px;
  padding: 10px 0;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: #d9d9d9; */
  background-color: #c9e8eb;
  color: #fff;
}
.settingIcon {
  position: absolute;
  top: 12px;
  left: 10px;
  font-size: 25px;
}
.settingIcon:hover {
  color: #99d7db;
}

/* ナビ */
nav {
  width: 100%;
  height: 100px;
  position: fixed;
  bottom: 0;
  left: 0;
  /* background-color: #d9d9d9; */
  background-color: #c9e8eb;
}
nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
nav ul li {
  height: 60px;
  width: 60px;
  padding: 10px 0;
  text-align: center;
}
nav ul li.homeBtn {
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
nav ul li p {
  font-size: 9px;
}
.navIconWrappwer {
  position: relative;
}
.navIcon {
  font-size: 30px;
  color: #fff;
}
.navIcon:hover {
  color: #99d7db;
}
.navPlusIcon {
  position: absolute;
  right: 3px;
  bottom: 3px;
  color: #888;
}
.navHomeIcon {
  font-size: 30px;
  color: #888;
}
.navHomeIcon:hover {
  color: #99d7db;
}

/* 天気 */
.weather {
  width: 100%;
  height: 65px;
  background-color: #fff;
  color: #888;
}
.weatherLoading {
  width: 100%;
  height: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  border-bottom: #d9d9d9 1px solid;
}
.dateSec {
  height: 20px;
  padding: 4px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 12px;
}
.weatherSec {
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: #d9d9d9 1px solid;
  border-bottom: #d9d9d9 1px solid;
}
.weatherEach {
  width: 32%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.weatherEach:nth-child(even)  {
  border-left: #d9d9d9 1px solid;
  border-right: #d9d9d9 1px solid;
}
.timeTemp {
  text-align: right;;
}
.time {
  font-size: 10px;
}
.temp {
  font-size: 12px;
  line-height: 1.5em;
}
/* .weatherIcon {
  color: #99d7db;
} */




/* コーデアイテム選択モーダル */
.modal {
  position: fixed;
  inset: 0;
  /* 要素を四隅にピッタリ貼り付ける */

  background: rgba(0,0,0,0.4);
  /* backdrop-filter: blur(10px); */
  display: flex;
  justify-content: center;
  align-items: center;
}
.modalContent {
  background: white;
  width: 95%;
  height: 80%;
  /* margin: 5vh; */
  padding: 10px;
  border-radius: 10px;
}
.modalClothes {
  height: 90%;
  width: 99%;
  margin-top: 10px;
  padding: 10px;
  background: white;
  border: 1px solid #666;

  /* max-height: 80vh;   画面の80%まで */
  overflow-y: auto;   /* 縦スクロール */
}
.modalSelectWrapper {
  position: relative;
}
.modalSelected {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}
.categoryItemsModal {
  /* grid-template-columns: repeat(auto-fit, 100px); */
  gap: 5px;
}


/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} */
