/* カラーコード */
:root {
  --white: #fff;
  --gray1: #666;
  --gray2: #888;
  --gray3: #d9d9d9;
  --turquoise1: #28a3b5;
  --turquoise2: #99d7db;
  --blue1: #015cc8;
  --blue2: #99beeb;
  --red: #ff6450;
}

/* 共通部分 */
body {
  color: var(--gray1);
  font-size: 14px;
  line-height: 1.2em;
}
main {
  padding: 10px 10px 180px 10px;
}
section {
  padding-top: 10px;
  padding-bottom: 20px;
}
h1 {
  font-size: 20px;
  letter-spacing: .03em;
}
h2 {
  font-size: 24px;
  letter-spacing: .03em;
  margin-top: 30px;
  margin-bottom: 30px;
}
h3 {
  margin-top: 10px;
  margin-bottom: 15px;
  font-size: 18px;
  letter-spacing: .03em;
}
p {
  padding: 2px 0;
}

/* ヘッダー */
header {
  width: 100%;
  height: 45px;
  padding: 10px 0;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--turquoise2);
  color: var(--white);
}
.settingIcon {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 25px;
}
.settingIcon:active {
  color: var(--turquoise1);
}

/* ナビ */
nav {
  width: 100%;
  height: 90px;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 100;
  background-color: var(--turquoise2);
}
nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
nav ul li {
  height: 60px;
  width: 60px;
  padding: 10px 0;
  text-align: center;
}
nav ul li.homeBtn {
  background-color: var(--white);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
nav ul li p {
  font-size: 9px;
}
.navIconWrappwer {
  position: relative;
}
.navIcon {
  font-size: 30px;
  color: var(--white);
}
.navHomeIcon {
  font-size: 30px;
  color: var(--gray2);
}
li:active .navIcon {
  color: var(--turquoise1);
}
li:active .navHomeIcon {
  color: var(--turquoise1);
}
.navPlusIcon {
  position: absolute;
  right: 3px;
  bottom: 3px;
  color: var(--gray2);
}

/* 天気 */
.weather {
  width: 100%;
  height: 65px;
  background-color: var(--white);
  color: var(--gray2);
}
.weatherLoading {
  width: 100%;
  height: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  border-bottom: var(--gray3) 1px solid;
}
.dateSec {
  height: 20px;
  padding: 4px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 12px;
}
.weatherSec {
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: var(--gray3) 1px solid;
  border-bottom: var(--gray3) 1px solid;
}
.weatherEach {
  width: 32%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.weatherEach:nth-child(even)  {
  border-left: var(--gray3) 1px solid;
  border-right: var(--gray3) 1px solid;
}
.timeTemp {
  text-align: right;;
}
.time {
  font-size: 10px;
}
.temp {
  font-size: 12px;
  line-height: 1.5em;
}

/* 入力系 */
input[type="text"] {
  width: 500px;
  max-width: 60vw;
  border: var(--gray1) 1px solid;
  border-radius: 5px;
  padding: 5px;
}
input[type="text"]:focus {
  outline: none;
  border: var(--blue1) 1px solid;
}
input[type="password"] {
  width: 500px;
  max-width: 60vw;
  border: var(--gray1) 1px solid;
  border-radius: 5px;
  padding: 5px;
}
input[type="password"]:focus {
  outline: none;
  border: var(--blue1) 1px solid;
}
input[type="file"] {
  margin-top: 5px;
}
input[type="file"]::file-selector-button {
  color: var(--gray1);
  cursor: pointer;
  padding: 8px 12px;
  background-color: #eee;
  border: var(--gray1) solid 1px;
  border-radius: 20px;
}
input[type="file"]::file-selector-button:hover {
  background-color: var(--gray3);
}
input[type="checkbox"],
input[type="radio"] {
  appearance: auto;
  cursor: pointer;
  width: 20px;
  height: 20px;
}
.checkboxRadioText {
  padding-left: 4px;
  padding-right: 15px;
}
textarea {
  width: 100%;
  min-height: 100px;
  border: var(--gray1) 1px solid;
  border-radius: 5px;
  padding: 5px;
}
textarea:focus {
  outline: none;
  border: var(--blue1) 1px solid;
}
select {
  width: 200px;
  padding: 5px;
  border: var(--gray1) 1px solid;
  border-radius: 5px;
  cursor: pointer;
  appearance: auto;
  -webkit-appearance: auto;
  -moz-appearance: auto;
}

/* ボタン関連 */
button {
  padding: 10px 12px;
  background-color: var(--turquoise1);
  color: var(--white);
  border-radius: 5px;
}
button:active {
  background-color: var(--turquoise2);
}
.grayBtn {
  color: var(--gray1);
  background-color: #eee;
  border: var(--gray1) solid 1px;
}
.grayBtn:active {
  background-color: var(--gray3);
}
.disabledBtn {
  background-color: var(--turquoise2);
}
.btnArea {
  margin-top: 40px;
}
.selectItemBtn {
  margin-bottom: 10px;
}
.resultButtons {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.editDeleteButtons {
  margin-top: 40px;
  display: flex;
  gap: 10px;
  justify-content: flex-end;
  align-items: center;
}
.deleteButton {
  background-color: var(--white);
  font-size: 20px;
  border: none;
}

/* タグ */
.tagArea {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.tag {
  padding: 10px 15px;
  background-color: #4181cf;
  color: var(--white);
  border-radius: calc(infinity * 1px);
}
.clickableTag:active {
  background-color: var(--blue2);
}

/* コーデサムネイル */
.coodeThumbArea {
  display: grid;
  grid-template-columns: repeat(2, minmax(155px, 1fr));
  gap: 10px;
}
.coodeThumbWrapper {
  width: 100%;
  height: 100%;
  padding: 5px;
  display: flex;
  flex-direction: column;
  border: var(--gray2) 1px solid;
  border-radius: 10px;
  transition: .2s;
}
.coodeThumbWrapper:active {
  opacity: .7;
}
.coodeThumbImgWrapper {
  display: grid;
  grid-template-columns: repeat(2, minmax(70px, 1fr));
  gap: 2px;
}
.coodeThumbImg {
  width: 100%;
  height: auto;
  border-radius: calc(infinity * 1px);
}

/* ID */
.idNum {
  font-size: 11px;
  color: var(--gray3);
  text-align: left;
}

/* メモ */
.memoArea {
  width: 100%;
  height: 50px;
  padding: 5px;
  border: var(--gray2) solid 1px;
  border-radius: 5px;
}

/* 未ログインメッセージ */
.note {
  margin: 5px 0;
  padding: 20px;
  background-color: #ffd6d1;
  border: var(--red) 1px solid;
}

/* 以下、各画面 */

/* コーデ登録、コーデ詳細 */
.selectedClothes {
  max-width: 500px;
  display: grid;
  grid-template-columns: repeat(2, minmax(155px, 1fr));
  gap: 10px;
}
.selectedClothesImg {
  width: 100%;
  height: auto;
}
.selectedClothes>a {
  transition: .2s;
}
.selectedClothes>a:active {
  opacity: .7;
}

/* コーデアイテム選択モーダル */
.modal {
  position: fixed;
  inset: 0;/* 要素を四隅にピッタリ貼り付ける */
  background: rgba(0,0,0,0.4);
  display: flex;
  justify-content: center;
  align-items: center;
}
.modalContent {
  background: white;
  width: 95%;
  height: 80%;
  padding: 10px;
  border-radius: 10px;
}
.modalClothes {
  height: 90%;
  width: 99%;
  margin-top: 10px;
  padding: 10px;
  background: white;
  border: 1px solid var(--gray1);
  overflow-y: auto;/* 縦スクロール */
}
.modalSelectWrapper {
  position: relative;
}
.modalSelected {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white);
}
.categoryItemsModal {
  gap: 5px;
}

/* アイテム一覧 */
.itemsList {
  border-top: var(--gray3) 1px solid;
}
.categoryItems {
  display: grid;
  grid-template-columns: repeat(auto-fit, 100px);
  gap: 10px;
}
.categoryItems>a {
  transition: .2s;
}
.categoryItems>a:active {
  opacity: .7;
}

/* アイテム詳細 */
.clothesDetailImgWrapper {
  text-align: center;
}
.image {
  width: 100%;
  max-width: 500px;
  height: auto;
}

/* アイテム削除、コーデ削除 */
.yesNo {
  display: flex;
  gap: 10px;
}

/* 設定 */
.loginSec {
  margin-top: 10px;
}
.settings button {
  margin-top: 10px;
}

/* タグ設定 */
.tagCreateWrapper {
  margin-top: 20px;
  display: flex;
  align-items: stretch;
  gap: 10px;
}
.tagEditDeleteWrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.tagSetWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.tagEditWrapper {
  display: flex;
  align-items: stretch;
  gap: 10px;
}
.tagBtns {
  display: flex;
  gap: 10px;
}

/* タグでコーデを検索 */
.tagResult {
  margin-top: 30px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
}


/* タブレット用 */
@media screen and (min-width: 640px) {
  .coodeThumbArea {
    grid-template-columns: repeat(3, minmax(155px, 1fr));
  }
}

/* PC用 */
@media screen and (min-width: 768px) {
  .coodeThumbArea {
    grid-template-columns: repeat(4, minmax(155px, 1fr));
    gap: 15px;
  }




  button:hover {
    background-color: var(--turquoise2);
  }
  .grayBtn:hover {
    background-color: var(--gray3);
  }
  .clickableTag:hover {
    background-color: var(--blue2);
  }
  .coodeThumbWrapper:hover {
    opacity: .7;
  }
  .categoryItems>a:hover {
    opacity: .7;
  }
  .selectedClothes>a:hover {
    opacity: .7;
  }
  .settingIcon:hover {
    color: var(--turquoise1);

  }
  li:hover .navIcon {
    color: var(--turquoise1);
  }
  li:hover .navHomeIcon {
    color: var(--turquoise1);
  }
}

