header {
  width: 100vw;
  background-color: #eee;
}

nav {
  width: 100vw;
  background-color: #ccc;
}
nav ul {
  display: flex;
  gap: 2vw;
  /* justify-content: space-around; */
}
nav ul li {
  list-style-type: none;
}

.weather {
  width: 100vw;
  background-color: #eee;
}

.modal {
  position: fixed;
  inset: 0;
  /* 要素を四隅にピッタリ貼り付ける */

  background: rgba(0,0,0,0.4);
  /* backdrop-filter: blur(10px); */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
}
.modalContent {
  background: white;
  padding: 20px;
  border-radius: 10px;
}
.modalClothes {
  background: white;
  border: 1px solid black;
  width: 80vw;
  padding: 10px;
  max-height: 80vh;   /* 画面の80%まで */
  overflow-y: auto;   /* 縦スクロール */
}




/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} */
